body {
  margin-top: 50px;
  background-color: #fff;
}

a {
  color: #000;
}

h2, h4, h5 {
 font-family: 'Iceberg', sans-serif;
}

h2 {
  text-decoration: underline;
}

.tracklist {
  font-size: 10px;
  line-height: 14px;
}

#hits {
  margin-top: 70px;
}

.hit {
  background-color: lightblue;
  border: 1px solid darkgrey;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

img {
  border-radius: 10px;
}

.hit-content {
  height: 100px;
}

.hit-image {
  float: left;
  margin-right: 10px;
}

.hit-mix-info {

}

.hit-description {
  margin-top: -25px;
}

.clear {
  font-size: 10px !important;
  float: right !important;
  margin-top: -10px !important;
}

#notice {
  margin-top: -15px;
}

.space {
  margin-top: 20px;
}


/* search box hacks */
.ais-search-box {
  max-width: 378px !important;
}

.ais-menu-select--select {
  max-width: 378px !important;
}

.ais-search-box input {
  padding-left: 30px !important;
}

.ais-search-box--magnifier {
  left: 7px;
  top: 13px !important;
}

.ais-search-box--reset {
  top: 0px !important;
}

.ais-pagination li {
  font-family: 'Iceberg', sans-serif;
  font-size: 30px;
}
#pagination {
  margin-top: 20px;
  text-align: center;
}

iframe {
  margin-bottom: 20px;
}

.mini-link-hidden {
  display:none;
  font-size:10px;
  float: right;
}

.small-float {
  font-size: 10px;
  float:right;
  margin-top:-10px;
}
