body {
  margin-top: 50px;
}

a {
  color: #000;
}

h2, h4, h5 {
 font-family: 'Iceberg', sans-serif;
}

.hit {
  background-color: lightblue;
  border: 1px solid darkgrey;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

img {
  border-radius: 10px;
}

.hit-content {
  height: 100px;
}

.hit-image {
  float: left;
  margin-right: 10px;
}

.hit-mix-info {

}

.hit-description {
  margin-top: -25px;
}

.space {
  margin-top: 20px;
}


/* search box hacks */
.ais-search-box {
  max-width: 378px !important;
}

.ais-search-box input {
  padding-left: 30px !important;
}

.ais-search-box--magnifier {
  left: 7px;
  top: 13px !important;
}

.ais-search-box--reset {
  top: 0px !important;
}

#pagination {
  margin-top: 20px;
  text-align: center;
}
